<h1> {{title}} - Estudio de Mercado </h1>
<hr></hr>
<h3> Arturo Gabriel Araujo Alvarez </h3>
<h4> <a href="https://github.com/ASdeveloper-app"> Github </a> </h4>
<h4> <a href="https://www.linkedin.com/in/arturo-araujo-alvarez/"> Linkedin </a> </h4>
<h4> <a href="https://www.asdeveloper.app/"> Portafolio </a> </h4>
<hr></hr>
<h2> Estudio de Mercado en Mercado Libre </h2>
<h3> Producto: </h3>
<p> Celulares de gama Alta | Media | Baja </p>
<h3> Pais de interes: </h3>
<p> Mexico </p>
<h3> Resultado: </h3>
<p> Top 1000 de Celulares con menor precio </p>
<a href="https://www.asdeveloper.app/">Ver</a>
<a href="https://www.asdeveloper.app/">Descargar</a>